<form (ngSubmit) = "guardar()" #form = "ngForm">
    <div class="mb-3">
        <label for="User" class="form-label">User</label>
        <input [(ngModel)] = "usuario.user" name="user" type="text" class="form-control" id="User" required>
      </div>

    <div class="mb-3" *ngIf="formState == 'add'; else editarTemplate">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [(ngModel)] = "usuario.password" name="password" type="password" class="form-control" id="exampleInputPassword1" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input [(ngModel)] = "usuario.email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <button [disabled] = "!form.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>

  <ng-template #editarTemplate>
    
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input [(ngModel)] = "usuario.password" name="password" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password</label>
            <input [(ngModel)] = "usuario.newPassword" name="newPassword" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>

  </ng-template>