<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

  <div class="btn-group" role="group" aria-label="Third group">
    <button [routerLink]="['/FormPersona', -1]" type="button" class="btn btn-outline-success">
      <i class="fa fa-plus"></i>
      Nueva Persona
    </button>
  </div>
 
</div>
<table class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">usuario</th>
        <th scope="col">email</th>
        <th scope="col">fecha_creacion</th>
        <th scope="col">activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <th scope="row">{{persona.id}}</th>
        <td>{{persona.usuario}}</td>
        <td>{{persona.email}}</td>
        <td>{{persona.fecha_creacion}}</td>
        <td>{{persona.activo}}</td>
        <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" (click)="editarUnUsuario(persona.id)" type="button">Modificar</button>
                <button class="btn btn-danger me-md-2" (click)="eliminarUsuario(persona.id)" type="button">Eliminar</button>
              </div>
        </td>
      </tr>
      
    </tbody>
  </table>