<form (ngSubmit) = "guardar()" #form = "ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input [(ngModel)] = "credencial.email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input [(ngModel)] ="credencial.password" name="password"  [type]="tipoInput" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3 form-check">
        <input (click) = mostrarPassword() type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <div *ngIf="incorretCredencials" class="alert alert-danger" role="alert">
        Credenciales erroneas!!!
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


  </form>