<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group" role="group" aria-label="Third group">
      <button [routerLink]="['/FormObjeto', -1]" type="button" class="btn btn-outline-success">
        <i class="fa fa-plus"></i>
        Nuevo Objeto
      </button>
    </div>
   
  </div>
  <table class="table">
  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">nombre</th>
          <th scope="col">descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objeto of objetos">
          <th scope="row">{{objeto.id}}</th>
          <td>{{objeto.nombre}}</td>
          <td>{{objeto.descripcion}}</td>

          <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary" (click)="editarObjeto(objeto.id)" type="button">Modificar</button>
                  <button class="btn btn-danger me-md-2" (click)="eliminarObjeto(objeto.id)" type="button">Eliminar</button>
                </div>
          </td>
        </tr>
        
      </tbody>
    </table>